:root {
  // Accent Colours
  --global-primary-colour-hue: 211;
  --global-primary-colour-saturation: 100%;
  --global-primary-colour-lightness: 50%;
  --global-primary-colour-opacity: 1;
  --global-primary-colour: hsla(
    var(--global-primary-colour-hue),
    var(--global-primary-colour-saturation),
    var(--global-primary-colour-lightness),
    var(--global-primary-colour-opacity));

  // Light Theme Colours
  --global-background-colour: hsla(0, 100%, 100%, 1);
  --global-text-colour: hsla(210, 11%, 15%, 1);
}

.dark-theme {
  --global-background-colour: hsla(210, 10%, 23%, 1);
  --global-text-colour: hsla(0, 100%, 100%, 1);
}

.high-contrast-theme {
  --global-background-colour: hsla(0, 0%, 0%, 1);
  --global-text-colour: hsla(0, 100%, 100%, 1);
}
